#component-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20vh;
  height: 100vh;
}

#toggle-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 1px solid black; */
  /* border-bottom: 1px dotted black; */
  height: 20%;
  margin-top: 15vh;
  text-align: center;
}

#tab-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 1px solid black; */
  /* border-bottom: 1px dotted black; */
  height: 20%;
  margin-top: 15vh;
  text-align: center;
}
#slider-component {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  /* border-bottom: 1px dotted black; */
  height: 20%;
  margin-top: 15vh;
  text-align: center;
}
#input-component {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  /* border-bottom: 1px dotted black; */
  height: 20%;
  margin-top: 15vh;
  text-align: center;
}
#dropdown-component {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  /* border-bottom: 1px dotted black; */
  height: 20%;
  margin-top: 15vh;
  text-align: center;
}

.title {
  padding-bottom: 1vh;
}
